.section {
  margin-top: 4rem;
}

.section h2 {
  margin-bottom: 2rem;
}

.table {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden;
}

.row {
  display: flex;
  justify-content: space-between;

  padding: 1rem 1.5rem;

  border-bottom: 1px solid #e5e7eb;
}

.row:last-child {
  border-bottom: none;
}

.row span {
  color: #6b7280;
}

@media (max-width:768px) {
  .row {
    flex-direction: column;
    gap: .5rem;
  }
}